body{
    background: #FAFAFA;
}
.lead{
    font-size: 1.1em;
    font-family: 'Barlow Condensed', sans-serif;
}

#show-instructions {
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#show-instructions:hover {    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#instructions{
    display: none;
    padding: 10px;
}

.results{
    border: 1px solid #aaa;
    padding: 5px;
    margin-top: 30px;
}
#questionsRemaining, #correctAnswers, #wrongAnswers, #secondsRemaining{
    font-size: 3em;
    font-weight: bold;
}

#questionsRemaining{
    color: orange;
}
#secondsRemaining{
    color:red;
}

.questions, .answerChoices{
    font-size: 2em;
    color: orange;
    padding: 20px;
    border: 1px solid #aaa; 
}
.questions{
    margin-top: 10px;
    border-bottom: 0;
}
ul#selectAnswer{
    padding-left: 0;
}
#selectAnswer > li{
    list-style: none;
    background: rgb(168, 199, 218);
    color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid rgb(168, 199, 218);
}

#selectAnswer > li:hover{
    background: #F5F5F5;
    color: grey;
    border: 1px solid rgb(168, 199, 218);
}
#startGame, #startOver{
    background: #009688;
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    cursor: pointer;
}
#startOver{
    background: orange;
}

#startGame:hover{
    background: white;
    color: #009688;
    border: 1px solid #009688;
}

.waitingNextGame{
    font-size: 0.75em;
    color: #009688;
}
.displayCorrentAnswer{
    font-size: 0.8em;
    background: red;
    color: white;
}
img{
    width: 390px;
    height: 250px;
    /* display: block;
    margin: 0 auto; */
}

@media only screen and (max-width: 500px) {
    body{
        background: #F5F5F5;
    }
    #selectAnswer > li{
        list-style: none;
        background: rgb(168, 199, 218);
        color: white;
        padding: 2px;
        margin: 2px;
        cursor: pointer;
        border: 1px solid rgb(168, 199, 218);
        font-size: 0.8em;
    }
    #questionsRemaining, #correctAnswers, #wrongAnswers, #secondsRemaining{
        font-size: 1.5em;
        font-weight: bold;
    }
    span#startGame, span#startOver{
        background: #009688;
        color: white;
        padding: 3px 15px;
        border: 1px solid white;
        cursor: pointer;
        font-size: 0.8em;
    }
    span#startOver{
        background: orange;
    }
    #selectAnswer > li{
        font-size: 0.8em;
    }
    .questions{
        font-size: 1.3em;
    }
}